:root {
  --track-width: var(--form-width);
  --track-height: 10px;
  --track-bg: #3992d1;
  --track-radius: calc(var(--track-height) / 2);

  --thumb-width: 19px;
  --thumb-height: 19px;
  --thumb-radius: 50%;
  --thumb-bg: #fff;
}

/* see: https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: var(--track-radius);
  height: var(--track-height);
  background: var(--track-bg);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: var(--thumb-height);
  width: var(--thumb-width);
  background-color: var(--thumb-bg);
  border-radius: var(--thumb-radius);
  border: none;
}

input[type="range"]::-moz-range-thumb {
  height: var(--thumb-height);
  width: var(--thumb-width);
  background-color: var(--thumb-bg);
  border-radius: var(--thumb-radius);
  border: none;
}

.range-style {
  width: calc(100% - 22px);
}

.range-element {
    width: 100%;
}

.range-element > * {
    margin-top: 4px;
}

.slider-value {
    margin-left: 2px;
}
