:root {
    --h1-top: 19px;
    --h1-bottom: 12px;
    --h1-font-size: 32px;
    --h1-height: calc(var(--h1-top) + var(--h1-top) + var(--h1-top));
    --form-width: 300px;
    --body-width: 400px;
    --body-height: 866px;
}

html,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #161616;
    color: #fff;
    overflow: hidden;
}

body {
    width: var(--body-width);
    height: var(--body-height);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top left;
    transform: scale(calc(100vw / 400));
}

@media (min-aspect-ratio: 400/866) {
    body {
        transform: scale(calc(100vh / 866));
    }
}

body,* {
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
        Roboto,"Helvetica Neue",Arial,sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: rgb(155, 186, 255);
    font-weight: 900;
    text-decoration: none;
}
/*
.container {
    margin-top: 56px;
    padding-bottom: 60px;
    max-width: 500px;
    background: #000;
    box-shadow: 0 0 100px rgba(0,0,0,.5);
    border-radius: 50px;
}*/

.container {
    width: var(--body-width);
    height: var(--body-height);
}

.bottom {
    padding: 8px 8px 38px 8px;
    background: #161616;
}

.row, .flex-row {
    vertical-align: middle;
    margin: 0 0 14px 0;
}

.settings-group {
    padding: 0 0 0 0;
    width: 300px;
}

.flex-row {
    display: flex;
    justify-items: stretch;
    padding-left: 0;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    margin-left: 0;
}

.col1 { width: 22%; }
.col2, .col3, .col4 { padding-left: 2px; }
.col2 { width: 16%; }
.col3 { width: 16%; }
.col4 { width: 46%; }

.colUTC { width: calc(var(--form-width) - 90px) !important; padding: 0; }
.colUTCText { padding: 0; }

h1 {
    margin: 0;
    padding: var(--h1-top) 0 var(--h1-bottom) 0;
    font-family: Arial,sans-serif;
    font-weight: 300;
    font-size: var(--h1-font-size);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #161616;
    opacity: 1;
}

h2 {
    margin: 0;
    padding: 6px 0 4px 0;
    font-family: Arial,sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    /*background: #404040;*/
}

h3 {
    font-family: Arial,sans-serif;
    font-weight: 300;
    font-size: 0.5rem;
    margin: 4px 0 3px 0;
}
